.myElement{
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.greenBg{
    background-color: green;
}
.yellowBg{
    background-color: yellow;
}

.fade{
    transition: 1s;
}